<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-table" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
        <th lay-data="{type:'id', fixed: 'left'}">广告ID</th>
        <th lay-data="{field:'name', width:30, sort: true, fixed: true}">广告名称</th>
        <th lay-data="{field:'img', width:30}">广告图片</th>
        <th lay-data="{field:'url', width:30, sort: true}">广告链接</th>
        <th lay-data="{field:'create_img', width:30}">创建时间</th>
        <th lay-data="{field:'is_show', width:50}">是否启用</th>
        <th lay-data="{field:'experience', width:100, sort: true}">操作</th>

    </tr>
    </thead>
    <tbody>
    {volist name='bannerlist' id='banner'}
    <tr class="text-c">
        <td></td>
        <td>{$banner.banner_id}</td>
        <td>{$banner.banner_title}</td>
        <td>
            <img src="__ROOT__/uploads/banner/{$banner.banner_img}" style="height: 50px; height: 50px">
        </td>
        <td>{$banner.banner_url}</td>
        <td>{$banner.create_time|date="Y-m-d",###}</td>
        <td onclick="is_show({$banner.banner_id},{$banner.is_show})"><input type="checkbox" name="is_show" value="{$banner.is_show}" lay-skin="switch" lay-text="ON|OFF"  {$banner.is_show==1 ? 'checked':''}></td>

        <td>
            <a href="{:url('admin/banner/banner_edit',array('banner_id'=>$banner.banner_id))}" class="layui-btn">编辑</a>
            <a href="{:url('admin/banner/delete_banner',array('banner_id'=>$banner.banner_id))}" class="layui-btn">删除</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<!--分页-->
<div class="Pagination">{$bannerlist->render()}</div>


<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">开关-默认关</label>
        <div class="layui-input-block">
            <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开关-默认开</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
        </div>
    </div>
</form>









<script src="__STATIC__/layui/layui.all.js" charset="utf-8"></script>
<script src="__STATIC__/admin/index/js/jquery.min.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form'], function(){
        var form = layui.form
            ,layer = layui.layer

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });





    });
</script>

</body>
</html>